<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .jumbotron {
            background-image: url('../static/img/1.jpg');
            background-size: cover;
            text-shadow: gray 0.05em 0.05em 0.05em;
            color:whitesmoke;
     }
    </style>
</head>
<body>


<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Twitter Data Analaysis</h1>
        <p class="text-center">input two words, and push Find button</p>
    </div>
</div>
<div class="container">
    &nbsp;
    <h2>Input Two Words</h2>
    &nbsp;
    <form action = "http://127.0.0.1:5000/search" method="POST">
        <div class="form-group">
            <label for="FirstInput">First Word</label>
            <input type="text" class="form-control input-lg" id="Input" placeholder="First Word Input" name="Finput">
        </div>
        <div class="form-group">
            <label for="SecondInput">Second Word</label>
            <input type="text" class="form-control input-lg" id="Input2" placeholder="Second Word Input" name="Sinput">
        </div>
        <button type="Find" class="btn btn-primary">Find</button>
    </form>
</div>

</body>

</html>